<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop.xsd
		">  
	
	<!-- 配置事务管理器 -->
	<bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- 开启注解事务 -->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
	<!-- 配置事务增强 -->
	<tx:advice id="advice" transaction-manager="transactionManager">
	    <tx:attributes>	     
	      <tx:method name="do*" propagation="REQUIRED"/>
	      <tx:method name="add*" propagation="REQUIRED"/>
	      <tx:method name="update*" propagation="REQUIRED"/>
	      <tx:method name="save*" propagation="REQUIRED"/>
	      <tx:method name="delete*" propagation="REQUIRED"/>
	      <tx:method name="*" read-only="true"/>
	    </tx:attributes>
	</tx:advice>
	
	<aop:config>
		<aop:pointcut id="serviceMethod" expression="execution(* cn.itcast.service.impl.*.*(..))"/>
		<aop:advisor pointcut-ref="serviceMethod" advice-ref="advice" />
	</aop:config>
	
	<!-- 配置C3P0连接池 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl" value="jdbc:mysql://120.78.216.226:3306/exam?useUnicode=true&amp;characterEncoding=utf-8" />
		<property name="user" value="root" />
		<property name="password" value="123456" />
	</bean>
	
	<!-- Spring整合Hibernate,配置sessionFactory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="hibernateProperties">
				<props>
					<prop key="hibernate.dialect">com.hzh.answer.dialect.MySQL5DialectUTF8</prop>
					<prop key="hibernate.show_sql">true</prop>
					<prop key="hibernate.format_sql">true</prop>
					<prop key="hibernate.hbm2ddl.auto">update</prop>
				</props>
			</property>
			<property name="mappingResources">
				<list>
					<value>com/hzh/answer/domain/SysUser.hbm.xml</value>			
					<value>com/hzh/answer/domain/Paper.hbm.xml</value>			
					<value>com/hzh/answer/domain/StudentPaper.hbm.xml</value>			
					<value>com/hzh/answer/domain/Subject.hbm.xml</value>			
					<value>com/hzh/answer/domain/SysFunction.hbm.xml</value>			
					<value>com/hzh/answer/domain/SysRole.hbm.xml</value>				
				</list>
			</property>
	</bean>
	
	<!-- 配置用户模块 -->
	<bean id="userDao" class="com.hzh.answer.dao.impl.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="userService" class="com.hzh.answer.service.impl.UserServiceImpl">
		<property name="userDao" ref="userDao"/>
	</bean>
	
	<bean id="userAction" class="com.hzh.answer.web.action.UserAction" scope="prototype">
		<property name="userService" ref="userService"/>
	</bean>
	
	<!-- 配置试卷模块 -->
	<bean id="paperDao" class="com.hzh.answer.dao.impl.PaperDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="paperService" class="com.hzh.answer.service.impl.PaperServiceImpl">
		<property name="paperDao" ref="paperDao"/>
	</bean>
	
	<bean id="paperAction" class="com.hzh.answer.web.action.PaperAction" scope="prototype">
		<property name="paperService" ref="paperService"/>
	</bean>
	
	<!-- 配置题目模块 -->
	<bean id="subjectDao" class="com.hzh.answer.dao.impl.SubjectDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="subjectService" class="com.hzh.answer.service.impl.SubjectServiceImpl">
		<property name="subjectDao" ref="subjectDao"/>
	</bean>
	
	<bean id="subjectAction" class="com.hzh.answer.web.action.SubjectAction" scope="prototype">
		<property name="subjectService" ref="subjectService"/>
	</bean>
	
	<!-- 配置学生已完成的试卷模块 -->
	<bean id="studentPaperDao" class="com.hzh.answer.dao.impl.StudentPaperDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="studentPaperService" class="com.hzh.answer.service.impl.StudentPaperServiceImpl">
		<property name="studentPaperDao" ref="studentPaperDao"/>
	</bean>
	
	<bean id="studentPaperAction" class="com.hzh.answer.web.action.StudentPaperAction" scope="prototype">
		<property name="studentPaperService" ref="studentPaperService"/>
	</bean>
	
	<!-- 配置系统应用模块 -->
	<bean id="sysFunctionDao" class="com.hzh.answer.dao.impl.SysFunctionDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="sysFunctionService" class="com.hzh.answer.service.impl.SysFunctionServiceImpl">
		<property name="sysFunctionDao" ref="sysFunctionDao"/>
	</bean>
	
	<bean id="sysFunctionAction" class="com.hzh.answer.web.action.SysFunctionAction" scope="prototype">
		<property name="sysFunctionService" ref="sysFunctionService"/>
	</bean>
	
	<!-- 配置系统角色模块 -->
	<bean id="sysRoleDao" class="com.hzh.answer.dao.impl.SysRoleDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="sysRoleService" class="com.hzh.answer.service.impl.SysRoleServiceImpl">
		<property name="sysRoleDao" ref="sysRoleDao"/>
	</bean>
	
	<bean id="sysRoleAction" class="com.hzh.answer.web.action.SysRoleAction" scope="prototype">
		<property name="sysRoleService" ref="sysRoleService"/>
	</bean>
</beans>
	
